
@{
	Layout = "../Shared/_Layout.cshtml";
}

<h2>Topics</h2>

<hr/>
<div class="row" ng-controller='TopicsController'>

	@if (WebSecurity.IsAuthenticated)
	{
		Html.RenderPartial("AddTopic");

		<hr />
	}



	<table class="table" id="topicsTable">
		<thead>
			<tr>
				<th class="col-md-6">Topic name</th>
				<th class="col-md-2">Count message</th>
				<th class="col-md-4">Last message at ...</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="entry in topicList" ng-click="showTopic(entry.Id)">
				<td>{{entry.Name}}</td>
				<td>{{entry.CountMessage}}</td>
				<td>{{entry.LastMessageUserLogin}} | {{entry.LastMessageDateTime}}</td>
			</tr>
		</tbody>
	</table>

</div>